* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column; 
                
            
}

#header-principal {
    background-color: #38A3A5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;   
    font-size: 13px;
    padding: 10px;         
}

#header-principal img {
    height: auto;
    width: 70px;
    display: block;        
}
#header-principal a {
    font-family:barlow condensed bold;
    text-decoration: none;
    color: #22577A;
    
}
#imagen-portada img {
    
    width: 100%;
    display: block;           
}
#botones-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #57cc99;
    
}
#login-registro{
    color: #22577A;
}
#login-registro div{
    padding: 10px;
}
#login-registro input{
    font-family: roboto condensed bold;
    background-color: #c7f9cc;
    border-color: #c7f9cc;
    
}
#login-registro button{
    font-family: barlow semi condensed ;
    background-color:#22577A ;
     border-color: #22577A;
     color: #c7f9cc;
     width: 200px;
}
#login-registro a{
    text-decoration: none;
    color: #22577A;
}
#login{
    background-color: #57cc99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#login form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#registro{
    background-color: #57cc99;
}

footer{
    background-color: #22577A;
    display: flex;

}
#patrocinadores{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    gap: 15px;
    padding: 10px 0px 0px 10px;
}
#patrocinadores a img{
    width: 120px;
    height: 120px;
    border-radius: 20px;
}
#redes-sociales{
    display: flex;
    flex-wrap: wrap;
    width: 150px;
}
#redes-sociales img{
    width: 40px;
    height: 40px;
}