* {
    
}
body{
    background-image: url(../img/Gemini_Generated_Image_zb45qhzb45qhzb45.jpg);
}    

#header{
    background-color: #7DA1DB;
    color: white;
    display: flex;
    border-radius: 15px;
    justify-content: space-between;
    padding-right: 30px
}    
#titulo{
    padding-left: 30px;
    /
}


#formulario{
    height: 500px;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 55%;
    box-sizing: border-box;
    
}
#cuenta{
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 40px;
    padding-top: 20px;
    width: 100%;
}
#cuenta button{ 
    border-bottom: 2px solid #7DA1DB;
    
}
#usuario{
    display: flex;
    justify-content: center;
}
#inicio_sesion form{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    gap: 20px;
}
#correo input{
border-radius: 10px;
border-color: azure;
background-color: rgb(215, 227, 245);
}

#contraseña input{
    border-radius: 10px;
border-color: azure;
background-color: rgb(215, 227, 245);
}

footer{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
}
footer a{
    width: 25%;
    box-sizing: border-box;
}
footer img{
    max-width: 300px;
}